*{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: rgb(42, 13, 4);
    display: flex;
    column-gap: 20px;
    padding: 20px;
    z-index: 99;
}

#head{
    color: #fff;
    margin-right: 620px;
    cursor: pointer;

}

.btn{
    height: 30px;
    width: 65px;
    cursor: pointer;
    border: none;
    border-radius: 45px;
    background-color: rgb(42, 13, 4);
    color: #fff;
}

#btn4{
    width: 90px;
}


.btn:hover{
    background-color: #c67a08;
}

.container{
    display: flex;
    background-color: rgb(42, 13, 4);
    height: 528px;
    position: relative;
    margin-top: 70px;
}

.heading{
    height: 450px;
    position: absolute;
    top: 0px;
    left: 50px;
    color: #fff;
    margin-top: 50px;
}

#best{
    font-size: 95px;
}

#make{

    font-size: 45px;
    width: 700px;
}

.wel{
    font-size: 22px;
    width: 600px;
}

.btn2{
    height: 35px;
    width: 120px;
    border: 1px solid rgb(198, 122, 8);
    border-radius: 60px;
    margin-left: 120px;
    background-color:  rgb(198, 122, 8);
    color: #fff;
    box-shadow: 2px 2px 2px rgba(198, 122, 8, 0.9);
    cursor: pointer;
}

.btn2:hover{
    /* border: none; */
    background-color: rgb(42, 13, 4);
    box-shadow: 2px 2px 2px rgba(198, 122, 8, 0.9);
}

#btn3{
    margin-left: 15px;
    background-color: rgb(42, 13, 4);
}

#btn3:hover{
    background-color: rgb(198, 122, 8);
    border: none;

}


.img{
    position: absolute;
    background-image: url(images/tea34.png);
    height: 508px;
    width: 508px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    right: 90px;
    top: 0px;
}

.container2{
    height: 600px;
    display: flex;
    column-gap: 90px;
    padding-right: 70px;
}

.img2{
    background-image: url(images/web1.jpg);
    height: 400px;
    width: 615px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 70px;
    margin-top: 90px;
}

.about-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    padding-bottom: 70px;
    width: 990px;
    row-gap: 70px;
    font-size: 15px;
}

#about-us{
    color: #c67a08;
    text-decoration: underline;
}

.im{
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.container3{
    height: 500px;
    background-color: rgb(32, 31, 32);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.menu-img{
    height: 450px;
    width: 300px;

}

#our{
    background-color: rgb(32, 31, 32);
    color: #fff;
    padding-left: 47%;
    padding-top: 5px;
    text-decoration: underline #c67a08;

}

#con3{
    padding-top: 70px;
}

.hot{
    margin-top: -100px;
}

#ice{
    margin-bottom: 60px;
}

#ref{
    margin-bottom: 70px;
}

#tea{
    margin-top: 40px;
}

#test{
    color: black;
    padding-left: 45%;
    padding-top: 55px;
    padding-bottom: 55px;
    text-decoration: underline #c67a08;
}

#cold{
    height: 400px;
    width: 500px;
    margin-left: 200px;
    margin-top: 80px;
}

.pro-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}


.section{
    height: 400px;
    display: flex;
    flex-direction:row;
    column-gap: 150px;
    padding-left: 40px;
    padding-top: 100px;

}

.profile{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 60px;
    column-gap: 120px;
    padding-left: 200px;
}

.img-gall{
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.img-gall:hover{
    height: 253px;
    width: 253px;
}

#gal{
    color: black;
    padding-left: 47%;
    padding-bottom: 55px;
    padding-top: 55px;
    text-decoration: underline #c67a08;
}

.form{
    height: 400px;
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 15px;
}

.name-email{
    height: 30px;
    border: 1px solid rgb(164, 162, 162);
    padding-left: 5px;
}

#msg{
    height: 90px;
    border: 1px solid rgb(164, 162, 162);
    padding-left: 5px;
}

#submit{
    height: 30px;
    width: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(42, 13, 4);
    color: #fff;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(198, 122, 8);
    border: none;
}


.contact-detail{
    display: flex;
    gap: 500px;
    margin-top: 100px;
    height: 330px;
}

.contact-no{
    font-size: 12px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgb(96, 96, 94);
}

#contact-heading{
    color: black;
    padding-left: 45%;
    padding-bottom: 55px;
    padding-top: 55px;
    text-decoration: underline #c67a08;
}

footer{
    background-color: rgb(32, 31, 32);
    color: rgb(146, 146, 19);
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}
